//
   Created by Matthew on 17/05/2015.

div(layout="column", layout-align="top center")
  div(layout="row", layout-align="center center" layout-margin)
    i(class='wi {{ icon }}', flex)
    span(class="temperature", flex) {{ data.main.temp | number: 0}}&deg;
