//
   Created by Matthew on 17/05/2015.

dl(layout="row" layout-wrap layout-padding)
  dt(ng-repeat-start="(i, day) in list", flex="33")
    span {{ day.dt * 1000 | date: 'EEE'}}
  dd(ng-repeat-end, flex="66", layout="row", layout-align="center center")
    span(flex) {{ day.temp.day | number: 0 }}&deg;
    i(class='wi {{ icon(i) }}', flex)
