@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
    font: 14px Lato, "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #000;
    color: #fff;
    width: 1080px;
    height: 1920px;
}