@import url(http://fonts.googleapis.com/css?family=Muli:300,400);
@import "global";

body {
  font-family: $base-font-family;
  background-color: $background;
  color: $font-color;
  width: $width;
  height: $height;
}

.time {
  display: block;
  font-size: 4rem;
}

.date {
  display: block;
  font-size: 1rem;
}